<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Encounter a 404 error? Explore our URL Shortener tool to create personalized short links. Easily manage and share your links with simplicity. Start now!"
    />
    <meta property="og:title" content="404 Not Found" />
    <meta
      property="og:description"
      content="Encounter a 404 error? Explore our URL Shortener tool to create personalized short links. Easily manage and share your links with simplicity. Start now!"
    />
    <meta property="og:image" content="https://east.baby/img/opengraph.png" />
    <meta property="og:url" content="https://east.baby/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="404 Not Found" />
    <meta
      name="twitter:description"
      content="Encounter a 404 error? Explore our URL Shortener tool to create personalized short links. Easily manage and share your links with simplicity. Start now!"
    />
    <meta name="twitter:image" content="https://east.baby/img/opengraph.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <link href="/styles.css" rel="stylesheet" />
    <title>404 Not Found</title>
  </head>
  <body>
    <main class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Oops, Page Not Found</h1>
          <p class="py-6">
            It seems like you've wandered into the unknown. The page you're
            looking for might have been misplaced or taken a vacation. Don't
            worry, though – there's a lot to explore here!
          </p>
          <a href="/" class="btn btn-primary">Take Me Home</a>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/gh/manucaralmo/GlowCookies@3.1.8/src/glowCookies.min.js"></script>
    <script>
      glowCookies.start("en", {
        style: 1,
        analytics: "G-24044F2GSK",
        policyLink: "https://east.baby/privacy",
        hideAfterClick: true,
        border: "none",
        bannerBackground: "#2a323c",
        bannerColor: "#ffffff",
        acceptBtnBackground: "#7400b8",
      });
    </script>
    <script src="/js/service.js"></script>
  </body>
</html>
