<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Your go-to URL shortener solution. Transform long, complex web addresses into concise links that are easy to share and remember. Streamline your online experience with our user-friendly platform."
    />
    <meta property="og:title" content="East | About" />
    <meta
      property="og:description"
      content="Your go-to URL shortener solution. Transform long, complex web addresses into concise links that are easy to share and remember. Streamline your online experience with our user-friendly platform."
    />
    <meta property="og:image" content="https://east.baby/img/opengraph.png" />
    <meta property="og:url" content="https://east.baby/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="East | About" />
    <meta
      name="twitter:description"
      content="Your go-to URL shortener solution. Transform long, complex web addresses into concise links that are easy to share and remember. Streamline your online experience with our user-friendly platform."
    />
    <meta name="twitter:image" content="https://east.baby/img/opengraph.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="canonical" href="https://east.baby/about" />
    <link rel="manifest" href="/manifest.json" />
    <link href="/styles.css" rel="stylesheet" />
    <title>East | About</title>
  </head>
  <body>
    <div
      class="hero min-h-screen"
      style="
        background-image: url(/img/0a44def6-1b74-4b53-b55e-094792e73068.jpg);
      "
    >
      <div class="hero-overlay bg-opacity-60"></div>
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 text-5xl font-bold">
            Unlock the Potential of Your Links
          </h1>
          <p class="mb-5">
            Welcome to East, your gateway to streamlined link management. Say
            goodbye to lengthy URLs. Whether you're sharing, analyzing, or
            organizing links, we've got you covered.
          </p>
          <a href="/" class="btn btn-primary">Get Started</a>
        </div>
      </div>
    </div>

    <script src="/js/service.js"></script>
  </body>
</html>
