<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="This Privacy Policy explains how we collect, use, and protect your personal information when you use our services, including our URL shortening service. Please read this Privacy Policy carefully to understand how we process your personal information. By accessing or using our services, you agree to be bound by the terms in this Privacy Policy."
    />
    <meta property="og:title" content="East | Privacy Policy" />
    <meta
      property="og:description"
      content="This Privacy Policy explains how we collect, use, and protect your personal information when you use our services, including our URL shortening service. Please read this Privacy Policy carefully to understand how we process your personal information. By accessing or using our services, you agree to be bound by the terms in this Privacy Policy."
    />
    <meta property="og:image" content="https://east.baby/img/opengraph.png" />
    <meta property="og:url" content="https://east.baby/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="East | Privacy Policy" />
    <meta
      name="twitter:description"
      content="This Privacy Policy explains how we collect, use, and protect your personal information when you use our services, including our URL shortening service. Please read this Privacy Policy carefully to understand how we process your personal information. By accessing or using our services, you agree to be bound by the terms in this Privacy Policy."
    />
    <meta name="twitter:image" content="https://east.baby/img/opengraph.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/manifest.json" />
    <link href="/styles.css" rel="stylesheet" />
    <title>East | Privacy Policy</title>
  </head>

  <body class="prose prose-neutral mx-auto p-8">
    <header>
      <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>
    </header>
    <main>
      <p>Last updated: August. 21, 2023</p>

      <p>
        This Privacy Policy describes how your personal information is
        collected, used, and shared when you use our service.
      </p>

      <h2 class="text-xl font-semibold mt-4">Information We Collect</h2>
      <p>We collect the following types of information:</p>
      <ul class="list-disc ml-8">
        <li>
          Information you provide, such as email address, username, and other
          data you willingly submit.
        </li>
        <li>
          Automatically collected information, such as IP address, device
          information, and usage data for analytical purposes.
        </li>
      </ul>

      <h2 class="text-xl font-semibold mt-4">How We Use Your Information</h2>
      <p>We use the collected information for purposes including:</p>
      <ul class="list-disc ml-8">
        <li>Providing and maintaining the service</li>
        <li>Improving and personalizing the service</li>
        <li>Sending you updates and notifications</li>
        <li>Responding to your requests and inquiries</li>
        <li>For legal and security purposes</li>
      </ul>

      <h2 class="text-xl font-semibold mt-4">Sharing Your Information</h2>
      <p>
        We may share your information with our service providers and affiliates
        for the purpose of analytics and improving our services.
      </p>

      <h2 class="text-xl font-semibold mt-4">Your Choices</h2>
      <p>
        You can choose to opt-out of receiving marketing emails and have the
        option to delete your account at any time.
      </p>

      <h2 class="text-xl font-semibold mt-4">Security</h2>
      <p>
        We take reasonable measures to protect your information. However, no
        method of transmission over the internet is completely secure.
      </p>

      <h2 class="text-xl font-semibold mt-4">Changes to This Policy</h2>
      <p>
        We may update this Privacy Policy from time to time. Changes will be
        posted on this page and are effective immediately.
      </p>

      <h2 class="text-xl font-semibold mt-4">Contact Us</h2>
      <p>
        If you have any questions about this Privacy Policy, you can contact us
        at
        <a class="link link-hover no-underline" href="mailto:privacy@east.baby"
          >privacy@east.baby</a
        >.
      </p>
    </main>

    <script src="/js/service.js"></script>
  </body>
</html>
