<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Create custom short URLs with our URL Shortener tool. Easily manage and share your links. Get started now!"
    />
    <meta property="og:title" content="East | Sign In" />
    <meta
      property="og:description"
      content="Create custom short URLs with our URL Shortener tool. Easily manage and share your links. Get started now!"
    />
    <meta property="og:image" content="https://east.baby/img/opengraph.png" />
    <meta property="og:url" content="https://east.baby/signin/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="East | Sign In" />
    <meta
      name="twitter:description"
      content="Create custom short URLs with our URL Shortener tool. Easily manage and share your links. Get started now!"
    />
    <meta name="twitter:image" content="https://east.baby/img/opengraph.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="canonical" href="https://east.baby/signin/" />
    <link rel="manifest" href="/manifest.json" />
    <link href="/styles.css" rel="stylesheet" />
    <title>East | Sign In</title>
  </head>
  <body>
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content flex-col lg:flex-row-reverse">
        <div class="text-center lg:text-left">
          <h1 class="text-5xl font-bold text-primary">👻 Sign In</h1>
          <p class="py-6 text-xl font-medium">
            Welcome back! Please enter your credentials to access your account.
          </p>
        </div>
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
          <form id="form" class="card-body">
            <div class="form-control">
              <label for="email" class="label">
                <span class="label-text">Email</span>
              </label>
              <input
                id="email"
                type="email"
                name="email"
                placeholder="Email"
                class="input input-bordered"
                required
              />
            </div>
            <div class="form-control">
              <label for="password" class="label">
                <span class="label-text">Password</span>
              </label>
              <input
                id="password"
                type="password"
                name="password"
                placeholder="Password"
                class="input input-bordered"
                required
              />
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn btn-primary font-bold">
                Sign In
              </button>
            </div>
            <span class="label-text text-center mt-3">
              Don't have an account yet?
              <a href="/signup" class="link link-hover">Sign Up</a>.
            </span>
          </form>
        </div>
      </div>
      <div
        id="alert-success"
        class="absolute top-0 right-0 m-4"
        hidden
        aria-hidden="true"
      >
        <div class="alert alert-success">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="stroke-current shrink-0 w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <span id="message"></span>
          <a href="/dashboard" class="btn btn-sm btn-primary">Dashboard</a>
        </div>
      </div>
      <div
        id="alert-error"
        class="absolute top-0 right-0 m-4"
        hidden
        aria-hidden="true"
      >
        <div class="alert alert-error">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            class="stroke-current shrink-0 w-6 h-6"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            ></path>
          </svg>
          <span id="error"></span>
        </div>
      </div>
    </div>
    <script
      src="/js/signin.js"
      sct="sct-NW4MaLzLxYkiXfZ0wEi3Y0U6DKbzpM4bMpABp68RtabV4ArN0JxIFb00OBkK"
    ></script>
  </body>
</html>
