<!doctype html>
<html lang="en" prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Create custom short URLs with our URL Shortener tool. Easily manage and share your links. Get started now!"
    />
    <meta property="og:title" content="East | Verification" />
    <meta
      property="og:description"
      content="Create custom short URLs with our URL Shortener tool. Easily manage and share your links. Get started now!"
    />
    <meta property="og:image" content="https://east.baby/img/opengraph.png" />
    <meta property="og:url" content="https://east.baby/" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="East | Verification" />
    <meta
      name="twitter:description"
      content="Create custom short URLs with our URL Shortener tool. Easily manage and share your links. Get started now!"
    />
    <meta name="twitter:image" content="https://east.baby/img/opengraph.png" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/img/favicon-16x16.png"
    />
    <link rel="canonical" href="https://east.baby/verification/" />
    <link rel="manifest" href="/manifest.json" />
    <link href="/styles.css" rel="stylesheet" />
    <title>East | Verification</title>
  </head>
  <body>
    <main class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Verification Status 🫣</h1>
          <p class="py-6">
            We're sorry, but we couldn't verify your account. The user was not
            found or the verification token is invalid.
          </p>
          <a href="/signin" class="btn btn-primary">Return to Sign In</a>
        </div>
      </div>
    </main>
    <script src="/js/cookies.js"></script>
    <script>
      glowCookies.start("en", {
        style: 1,
        analytics: "G-24044F2GSK",
        policyLink: "https://east.baby/privacy",
        hideAfterClick: true,
        border: "none",
        bannerBackground: "#2a323c",
        bannerColor: "#f1faee",
        acceptBtnBackground: "#7400b8",
      });
    </script>
    <script src="/js/service.js"></script>
    <script
      disable-devtool-auto
      src="https://cdn.jsdelivr.net/npm/disable-devtool@latest"
    ></script>
  </body>
</html>
